* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  background-color: #181719;
  font-size: 1.6rem;
  color: white;
}

@media (min-width: 1024px) {
  body {
    height: 100vh;
  }
}