main {
  display: grid;
  grid-template-columns: 1fr;
}
main section {
  padding: 20px 12px;
  position: relative;
}
main .about p {
  margin-top: 25px;
  max-width: 250px;
  font-weight: lighter;
  font-size: 1.4rem;
}
main .about a {
  display: inline-block;
  margin-top: 25px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.4rem;
}

h1 {
  font-family: "Lora", sans-serif;
  font-size: 3.6rem;
  font-weight: 400;
}

img {
  width: 100%;
  max-width: 737px;
}

section > div {
  background-color: #181719;
  position: absolute;
  width: 100%;
  max-width: 300px;
  right: 23px;
  bottom: -51px;
  box-shadow: 0px 5px 10px -5px black;
}

.container {
  padding: 13px 20px;
}

.maxwidth {
  max-width: 550px;
  margin: 0 auto;
}

.profile {
  max-width: 256px;
  display: flex;
  gap: 13px;
}
.profile div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.profile img {
  border-radius: 100%;
  width: 37px;
  aspect-ratio: 1/1;
}
.profile p {
  color: #828282;
  font-size: 1rem;
  font-weight: 500;
}

h3 {
  font-size: 1.2rem;
  font-weight: 500;
}

h2 {
  max-width: 210px;
  font-size: 1.8rem;
  font-family: "Lora", sans-serif;
  font-weight: 700;
}

@media (min-width: 768px) {
  section > div {
    max-width: 410px;
    padding: 10px;
    right: 43px;
  }

  h1 {
    font-size: 4.8rem;
  }

  h2 {
    font-size: 2.4rem;
    max-width: 287px;
  }

  h3 {
    font-size: 1.4rem;
  }

  main {
    height: 100%;
    align-items: center;
  }
  main .about {
    min-width: 417px;
  }
  main .about p {
    max-width: 410px;
    font-size: 2.4rem;
  }

  .profile p {
    font-size: 1.2rem;
  }

  .maxwidth {
    max-width: 761px;
  }
}
@media (min-width: 1024px) {
  main {
    width: 100%;
    grid-template-columns: 1fr auto;
  }
  main section {
    padding: 20px;
  }

  .maxwidth {
    max-width: 1272px;
  }
}